@media (orientation: landscape) {
    body {
        flex-direction: row;    /* sobreescriu la declaració flex-direction: column; */
        flex-flow: row-reverse;    /* disposició de dreta a esquerra, per mostrar el menú a l'esquerra */
    }
    #superior {
        display: none;    /* franja superior oculta per optimitzar l'espai */
    }
    #menu {
        flex-direction: column;
        width: 8vmax;
        height: auto;    /* sobreescriu la declaració height: 8vmax; */
    }
}